.backdrop {
    display: flex;
    flex-direction: column;
    width: 95%;
    position: absolute;
    top: 3rem;
}

.bb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.bb > a {
    font-size: 16px;
    height: 2.8rem;
    cursor: pointer;
}

.small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lg {
    display: flex;
    gap: 1rem;
}

.lg > button,
.small > button {
    cursor: unset;
}

.small > button > p {
    color: rgb(105, 105, 105) !important;
    font-size: 1.5rem !important;
}
