.largeScreen {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .largeScreen {
        display: none;
    }
}

.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile {
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
}

.navHeader {
    display: flex;
    background-color: #f8f8f8;
    align-items: center;
}
