.container,
.signup {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.container > div {
  border: 1px solid grey;
}

.container > div > div > fieldset {
  border-style: hidden;
}

.container > div > div {
  font-size: 1.6rem;
}

.signup > div > label,
.signup > div > div > input,
.signup > label > span:nth-child(2) {
  font-size: 1.5rem !important;
}
