.dropdown {
    margin-top: 5px;
}

.search {
    position: relative;
    margin: auto;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .search {
        top: 75px;
    }
}

.search > div > div > div > fieldset {
    border-style: hidden;
}

.search > div {
    background-color: white;
    border-radius: 4px;
}

.search > div > div > div > input {
    font-size: 1.8rem;
    padding: 4px;
}

.search > div > div > div {
    padding: 0 0 0 11px !important;
}

@media screen and (max-width: 820px) {
    .search {
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    .search {
        width: 90%;
    }
}
